@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@300;400;500;700&display=swap");

:root {
	--primary-color: var(--bs-blue);
	--secondary-color: var(--bs-gray-600);
}
body {
	font-family: "Heebo", sans-serif;
}
*,
::after,
::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
a {
	/* color: #009cff; */
	text-decoration: none;
}
